/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color:#24305E;
  padding-top: 2%;
}

@font-face {
  font-family: "action-is.regular";
  src: url('/assets/fonts/action-is.regular.ttf') format('');
}

.col-1 {
  float: left;
  width: 40%;
  top: 5%;
  background-color: #F78888;
}

img {
  width: 45%;
}

.social {
  width:25%;
}

.col-2{
background-color: #90CCF4;
float:right;
height: 75%;
width:60%;

}


.col-3{
  background-color: #24305E;
}
