// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  background-color: #F3D250;
}

.about {
  float: right;
  width: 20%;
}
.col-about{
float:right;
width:50%;
margin-right: 3%;
margin-top: -10%;
background-color: #374785;


}

.container {
    width: 40%;
    height: 40%;
    margin: 1em auto;
    overflow: hidden;
    background: #F78888;
    left:20%;
    position: absolute;
    box-sizing: border-box;
}

.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   8em }
    100% { top: -11em }
}
