
  <div class="row">
<div class="col-1">
  <div class='col-3'>
    <img src='/assets/ABOUT.png'>
    <br>
    <img src='/assets/IMG_2905.JPG'>
    <div class="col-about white-text">
    <center> Candy Quintanilla is a Los Angeles native. <br>
      She is an assistant principal and a marathon superstar.<br>
      Follow along on her exciting journey of marathons and challenges.<br>
      Want a closer look? Follow her on social media! <br><br>
       <center><a href="https://www.instagram.com/candyquintanilla/">
        <img src='assets/255286.svg' class="social">
      </a>
      <a href="https://twitter.com/Quintanilcandy?lang=en">
        <img src='assets/255299.svg' class="social">
      </a>
      <a href="https://www.facebook.com/candy.quintanilla.585">
        <img src='assets/255283.svg' class="social">
      </a>

     </div>
</div>
<div class="microsoft container">
  <p class="marquee">
    <img src='assets/IMG_2900.JPG' width='450px'>
  </p>
</div>
<img src='assets/best-times.png' width='300px'>
  <% @locations.limit(3).each do |location| %>
  <div class="row">
     <div class="col s10 m5">
       <div class="card-panel card">
          <span class="card-title"><%=location.title%></span>
         <span class="white-text"><br>
           <%=location.time %>
                  </span>
       </div>
     </div>
   </div>
  <%end%>


</div>
<div class="row">
<div class="col-2">
<div id="locations"><center><style>
#map {
  height: 870px;
  width: 1500px;
}
</style>
<div id="map"></div>
<script>

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
   center: {lat: 34.0522, lng: -118.2437},
   zoom: 10,
   styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#A8D0E6"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
 });
 $.ajax({
   type: 'get',
   url: '/markers'
     }).done(function(data){
      data.map(function(location){
        var latLng = new google.maps.LatLng(location.latitude,location.longitude);
        var marker = new google.maps.Marker({
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: '#374785',
            fillOpacity: 2,
            scale: 5,
            strokeColor: '#374785',
          strokeWeight: 3
          },
          position: latLng,
          map: map
        });
        var info = `<center>
                      <div id="content">
                        <div id="siteNotice">
                        </div>
                        <h2 id="firstHeading" class="firstHeading">
                        ${location.title}
                        </h2>
                        <div id="bodyContent">
                        ${location.description}
                        <h6>
                        ${location.address} </h6>
                        <p>
                        ${location.distance} <br>
                        ${location.time} <br>
                        ${location.date.substring(0,4)}
                        </div>
                        </div>
                        </center>`;
        var infoWindow = new google.maps.InfoWindow({
            content: info,
            maxWidth: 250
        });

        marker.addListener('click', function() {
            infoWindow.open(map, marker);

        });
      })

     })
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-9sD3Kkc46hXQLXcbM1sWuXoA0Ms6wfk&callback=initMap">
</script>
</div>
</div>
</div>
